// Colors
$color-header-gradient: #3a3a3acc;
$color-header-background: #3a3a3a;
$color-header-gradients: #787878cc;
$color-header-font: #777777;
$color-h1-color: #ffffff;
$color-btn-hover: #00000066;

$color-grey-light-1: #a1a1a155;
$color-grey-dark-1: #353535ac;

$color-logo: #a0a0a0;

// Font-Sizes
$default-font-size: 1rem;

// Grid
$grid-width: 71.25rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 1.75rem;
