.section-about {
  background-color: $color-section-background;
  padding: 20rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 12.5rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-header-gradient, 0.8),
      rgba($color-header-gradients, 0.8)
    ),
    url("/Images/imageedit_8_9294547708.jpg");
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -7.6255rem;

  & > * {
    transform: skewY(7deg);
  }
  
}

.section-allies {
    background-color: $color-section-background;
  padding: 20rem 0;
  padding: 20rem 0 15.25rem 0;
  margin-top: -8rem;
}

.section-stories {
  padding: 10rem 0;
  background-color: $color-logo;
}
